body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 10px 30px;
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top: 0;
  }
  
  .logo {
    font-size: 22px;
    color: #2c3e50;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline-block;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
  }
  
  .nav-links li.active a,
  .nav-links a:hover {
    color: #2c5eff;
    border-bottom: 2px solid #2c5eff;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
  }
  
  .search-bar button {
    padding: 6px 10px;
    background-color: #2c5eff;
    color: white;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
  
  .home-content {
    padding: 50px;
    text-align: center;
  }
  
  thead input {
  width: 100%;
  font-size: 12px;
  padding: 4px;
  box-sizing: border-box;
}

#sortYearBtn {
  margin-top: 6px;
  padding: 4px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}

.tag-active {
  background-color: #ffe8b3;
  color: #aa5d00;
  border: 1px solid #ffc266;
  font-weight: bold;
}
